h1 {
    color: #ef6703;
}
body {
    background-color: #451e02;
    color: white;
    
}

.HTMLClass {
    color: red;
}

.CSSClass {
    color: blue;
}

.manyMore {
    text-decoration: underline;
    font-weight: bold;
}

#CSSHeading {
    font-size: 25px;
    font-weight: bold;
}

#HTMLHeading {
    font-size: 25px;
    font-weight: bold;
}
