b {
    color:red;
}

img {
    width: 25px;
}

h2 {
    font-size: 5em;
    font-family: serif;
    color: #067c06;
    text-align: center;
    animation: animate 1.5s linear infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 0;
    }
}

